<authorization>
  
  <!-- 
    All values are AD groups and can be comma-separated lists
    An empty string in the value means an item is public - can be accessed by anyone
  -->
  
  <add key="Portfolio Managers" value="" /> <!-- Secures access to areas to be used by Portfolio Managers
    VALUE: Portfolio Managers AD groups
      Controlled by EGAN LUDWIG
  --> 
  <add key="Administrators" value="" /> <!-- secures access to the Administration areas
    VALUE: AD Groups for administrators
      Controlled by KIM WILLIAMS
  -->
  
  <add key="Task: MSCI Restrictions Translation" value="" /> <!-- Restricted by access to Portfolio Managers
    Secures access to the Restriction Translation task
    VALUE: AD groups for portfolio managers who will be given the ability to use the Restriction Translation task
  -->
</authorization>