<connectionStrings>
	<add name="Lodestone" connectionString="data source=lodestonedb.dev.paraport.com;Integrated Security=SSPI; database=CHRISMC_DEV_LODESTONE" providerName="System.Data.SqlClient" />
	
  <add name="PeerReview" connectionString="data source=peerreviewdb.dev.paraport.com;Integrated Security=SSPI; database=CHRISMC_DEV_PEERREVIEW" />
	<add name="PeerReviewIntegration" connectionString="data source=peerreviewdb.dev.paraport.com;Integrated Security=SSPI; database=CHRISMC_INTEGRATION_PEERREVIEW" />
	<add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
</connectionStrings>
